<div class="col-md-5">
  <div class="row">
    <h4>Lista de fornecedores</h4>
  </div>
</div>

<button class="btn btn-xs btn-success" style="float: right" routerLink="novo">Novo fornecedor <i class="glyphicon glyphicon-plus"></i></button>

<table class="table table-striped table-bordered">
  <tr>
    <th>Fornecedor</th>
    <th>Documento</th>
    <th style="text-align:center;">
      <i class="glyphicon glyphicon-cog"></i>
    </th>
  </tr>
  <tr *ngFor="let f of _fornecedores">
    <td><a routerLink="{{ f.id }}"> {{ f.nome }} </a></td>
    <td> {{ f.documento }} </td>
    <td align="center">
      <a class="btn btn-default btn-xs" routerLink="{{ f.id }}"><em class="glyphicon glyphicon-eye-open"></em></a>
      <a class="btn btn-primary btn-xs" routerLink="{{ f.id }}/editar"><em class="glyphicon glyphicon-pencil"></em></a>
      <botao-remover nome="" [icone]="true" estilo="btn-danger btn-xs" (acao)="remover(f.id)"></botao-remover>
      <!-- <a class="btn btn-danger btn-xs"><em class="glyphicon glyphicon-remove"></em></a> -->
    </td>
  </tr>
</table>