<div class="container">
    <div class="row">
      <div class="col-md-5">
        <h4>Lista de produtos em estoque</h4>
        <button class="btn btn-xs btn-success" routerLink="/compra">
          <i class="glyphicon glyphicon-plus"></i> Nova entrada / compra
        </button>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Qtd. Mínima</th>
        <th>Qtd. Atual</th>
        <th>Unitário</th>
        <th>Total</th>
        <th>Perdas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>...</th>
        <td>...</td>
        <th>...</th>
        <td>...</td>
        <th>...</th>
        <th>
          <button class="btn btn-xs btn-danger" routerLink="/saida">
            <i class="glyphicon glyphicon-minus"></i>
          </button>
        </th>
      </tr>
    </tbody>
  </table>
</div>