<section id="footer">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h3>Fique por dentro</h3>
          <ul>
            <li>
              <a href="http://wpbean.com/">O que é Go Salão?</a>
            </li>
            <li>
              <a href="http://graygrids.com/">Como funciona para o cliente</a>
            </li>
            <li>
              <a href="http://wingthemes.com/">Como funciona para o salão</a>
            </li>
            <li>
              <a href="http://landingbow.com/">Termos de uso</a>
            </li>
            <li>
              <a href="http://freebiescircle.com/">Política de privacidade</a>
            </li>               
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h3>Ficou com dúvida?</h3>
          <ul>
                            <li>
              <a href="#">Guarantee</a>
            </li>
            <li>
              <a href="#">Discount</a>
            </li>
            <li>
              <a href="#">Me ajuda!</a>
            </li>
            <li>
              <a href="#">Contato</a>
            </li>
            <li>
              <a href="#">Perguntas frequentes</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h3>Conheça-nos</h3>
          <ul>
            <li>
              <a href="#">Sobre a empresa</a>
            </li>
            <li>
              <a href="#">Partners</a>
            </li>
            <li>
              <a href="#">Nosso time</a>
            </li>
            <li>
              <a href="#">Quem apoia?</a>
            </li>
            <li>
              <a href="#">Contato</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h3>Siga-nos!</h3>
          <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
          <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
          <a class="social" href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>  
  </div>
</section> 

<section id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="copyright-text">
         ©
          <a href="#">
            GoSalão
          </a>
          2017. Todos os direitos reservados
        </p>
      </div>
    </div>
  </div>
</section>