<div class="left">
    <div class="">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <a routerLink="fornecedor">
        <div class="item">
            <span class="glyphicon glyphicon-log-in"></span>Login / Cadastrar
        </div>
    </a>
    <a routerLink="estoque">
        <div class="item active">
            <span class="glyphicon glyphicon-th-list"></span>Estoque
        </div>
    </a>
    <a routerLink="fornecedor">
        <div class="item active">
            <span class="glyphicon glyphicon-th-list"></span>Fornecedor
        </div>
    </a>
    <a routerLink="fornecedor">
        <div class="item">
            <span class="glyphicon glyphicon-random"></span>Акты переоценки
        </div>
    </a>
    <a routerLink="fornecedor">
        <div class="item">
            <span class="glyphicon glyphicon-remove"></span>Акты списания
        </div>
    </a>
    <a routerLink="fornecedor">
        <div class="item">
            <span class="glyphicon glyphicon-log-out"></span>Sair
        </div>
    </a>
</div>