<div class="navbar navbar-invers menu-wrap">
  <div class="navbar-header text-center">
    <a class="navbar-brand logo-right" href="javascript:void(0)"><i class="mdi-image-timelapse"></i>GoSalão</a>
  </div>
    <ul class="nav navbar-nav main-navigation">
      <li class="active"><a href="#home">Página inicial</a></li>
      <li><a href="#features">Features</a></li>
      <li><a href="#why">why</a></li>
      <li><a href="#screenshot">Screenshots</a></li>
      <li><a href="#testimonial">Testemunhos</a></li>
      <li><a href="#contact">Contato</a></li>
    </ul>
    <button class="close-button" id="close-button">Close Menu</button>
</div>