<gl-menu [@slideInOut]="menuState"></gl-menu>

<header class="hero-area" id="home">
<div class="container">
  <div class="navbar navbar-inverse sticky-navigation navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="200">
    <div class="container">
      <div class="navbar-header">
        <span (click)="toggleMenu()" class="hamburger">
          <i class="glyphicon glyphicon-menu-hamburger"></i>
        </span>
      </div>
      
      <div class="navbar-right" style='border: solid 1px #000;'>
        <a class="logo-left blue-text" routerLink="">
          <i class="glyphicon glyphicon-time"></i>GoSalão
        </a>
      </div>
    </div>
  </div>
  </div>
</header>