<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="section-title">Onde estamos</h2>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="info">
              <div class="icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <h4>Localização</h4>
              <p>São Paulo, SP, Brasil</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="info">
              <div class="icon">
                <i class="fa fa-envelope"></i>
              </div>
              <h4>Email</h4>
              <p>meajuda@gosalao.com</p>
            </div>
          </div>
          <div class="clear"></div>
          <div class="col-md-6 col-sm-6">
            <div class="info">
              <div class="icon">
                <i class="fa fa-phone"></i>
              </div>
              <h4>Telefone</h4>
              <p>
                (11) 99653-2953
                <img src="../../../assets/img/apps/WhatsApp.png">
                <img src="../../../assets/img/apps/Telegram.png">
                <br>
                (11) 2829-8998
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="info">
              <div class="icon">
                <i class="fa fa-thumbs-up"></i>
              </div>
              <h4>Rede Social</h4>
              <p>facebook.com/GoSalao</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInRight;">
            <h2 class="section-title">Queremos te ouvir</h2>
              <!-- Start Contact Form -->
              <form role="form" id="contactForm" class="contact-form" data-toggle="validator" novalidate="true">
                <div class="form-group">
                  <div class="controls">
                    <i class="mdi-action-account-box"></i>
                    <input type="text" id="name" class="form-control" placeholder="Nome" required="" data-error="Por favor, digite seu nome">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="controls">
                    <i class="mdi-content-mail"></i>
                    <input type="email" class="email form-control" id="email" placeholder="Email" required="" data-error="Por favor, informe seu e-mail">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="controls">
                    <input type="text" id="msg_subject" class="form-control" placeholder="Assunto" required="" data-error="Por favor, diga-nos o que deseja comunicar">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="controls">
                    <textarea id="message" rows="7" placeholder="Mensagem" class="form-control" required="" data-error="Escreva sua mensagem"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>  
                </div>
                <button type="submit" id="submit" class="btn btn-primary disabled" style="pointer-events: all; cursor: pointer;">Enviar!</button>
                <div id="msgSubmit" class="h3 text-center hidden"></div> 
                <div class="clearfix"></div>   
              </form>     
              <!-- End Contact Form -->
          </div>
    </div>
  </div>
</section>