<form>
  <h4>Dados do seu fornecedor</h4>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <label for="txtNome">Nome:</label>
        <input type="text" class="form-control" id="txtNome">
      </div>

      <div class="form-group">
        <label for="txtDoc">CPF/CNPJ:</label>
        <input type="text" class="form-control" id="txtDoc">
      </div>

      <div class="form-group">
        <label for="txtEmail">Email:</label>
        <input type="email" class="form-control" id="txtEmail">
      </div>

      <div class="form-group">
        <label for="txtTel">Telefone:</label>
        <input type="text" class="form-control" id="txtTel">
      </div>
    </div>
  </div>

  <h4>Informações de endereço</h4>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <label for="txtCep">CEP:</label>
        <input type="text" class="form-control" id="txtCep">
      </div>

      <div class="form-group">
        <label for="txtRua">Logradouro:</label>
        <input type="text" class="form-control" id="txtRua">
      </div>

      <div class="form-group">
        <label for="txtNumero">Número:</label>
        <input type="text" class="form-control" id="txtNumero">
      </div>

      <div class="form-group">
        <label for="txtBairro">Bairro:</label>
        <input type="text" class="form-control" id="txtBairro">
      </div>

      <div class="form-group">
        <label for="txtCidade">Cidade:</label>
        <input type="text" class="form-control" id="txtCidade">
      </div>

      <div class="form-group">
        <label for="txtUF">Estado:</label>
        <input type="text" class="form-control" id="txtUF">
      </div>
    </div>
  </div>
</form>